@forward "./animasi.scss";
@forward "./variable.scss";
@forward "./responsive.scss";
@forward "./mixin.scss";
@forward "./font.scss";

.section-global {
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: "Montserrat", sans-serif;
}