@use "../styles/font.scss" as *;
@use "../styles/responsive.scss" as *;

@mixin font-h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 90px;
    font-family: "Montserrat Alternates", sans-serif;

    @include breakpoint-max(1100px) {
        font-size: 55px;
        line-height: 85px;
    }

    @include breakpoint-max(900px) {
        font-size: 45px;
        line-height: 60px;
    }

    @include breakpoint-max(750px) {
        font-size: 42px;
        line-height: 60px;
    }

    @include breakpoint-max(700px) {
        font-size: 36px;
        line-height: 60px;
    }

    @include breakpoint-max(450px) {
        font-size: 36px;
        line-height: 50px;
    }

    @include breakpoint-max(390px) {
        font-size: 32px;
    }

    @include breakpoint-max(375px) {
        font-size: 30px;
    }

    @include breakpoint-max(360px) {
        font-size: 29px;
    }

    @include breakpoint-max(320px) {
        font-size: 19px;
        line-height: 35px;
    }
}

@mixin font-h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: "Montserrat Alternates", sans-serif;

    @include breakpoint-max(1200px) {
        font-size: 45px;
    }

    @include breakpoint-max(1100px) {
        font-size: 35px;
    }

    @include breakpoint-max(900px) {
        font-size: 31px;
    }

    @include breakpoint-max(768px) {
        font-size: 27px;
    }

    @include breakpoint-max(375px) {
        font-size: 25px;
    }

    @include breakpoint-max(320px) {
        font-size: 22px;
    }

    @include breakpoint-max(250px) {
        font-size: 18px;
    }

    @include breakpoint-max(162px) {
        font-size: 11px;
    }
}

@mixin font-h3 {
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;

    @include breakpoint-max(1200px) {
        font-size: 23px;
    }

    @include breakpoint-max(1100px) {
        font-size: 20px;
    }

    @include breakpoint-max(768px) {
        font-size: 18px;
    }

    @include breakpoint-max(320px) {
        font-size: 1rem;
    }

    @include breakpoint-max(200px) {
        font-size: .9rem;
    }

    @include breakpoint-max(162px) {
        font-size: 11px;
    }
}

@mixin font-tittle {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;

    @include breakpoint-max(375px) {
        font-size: .9rem;
    }

    @include breakpoint-max(320px) {
        font-size: .8rem;
    }

    @include breakpoint-max(200px) {
        font-size: .7rem;
    }

    @include breakpoint-max(162px) {
        font-size: 9px;
    }
}

@mixin button {
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    transition: all;

    &:hover {
        transform: scale(1.05);
    }

    @include breakpoint-max(1100px) {
        font-size: 1rem;
    }

    @include breakpoint-max(600px) {
        font-size: .9rem;
        padding: 8px 13px;
    }

    @include breakpoint-max(450px) {
        border-radius: 8px;
    }

    @include breakpoint-max(320px) {
        border-radius: 6px;
        font-size: .8rem;
        padding: 7px 13px;
    }
}

@mixin spasing-x {
    width: 90%;
    margin: 0 auto;
}

@mixin spasing-y {
    padding: 3rem 0;
}

@mixin container {
    width: 84rem;
    margin: 0 auto;

    @include breakpoint-max(1440px) {
        width: 100%;
    }
}

@mixin hover-button {
    transform: scale(1.2);
    color: var(--color-pink);
}

@mixin img-list-5 {
    width: 67px;
}