:root {
    /* Sidebar */
    --sidebar-bg: rgb(245, 245, 245);
    --btn-color-sidebar: rgb(70, 70, 70);
    --btn-color-hover-sidebar: rgb(225, 225, 225);
    --btn-sidebar-resize: rgb(190, 190, 190);
    --tooltip-background: rgb(114, 114, 114);
    --size-big-sidebar: 250px;
    --size-small-sidebar: 70px;

    /* Color */
    /* --color-primary:rgb(0, 238, 255); */
    --color-primary: rgb(3, 213, 228);
    --color-light-sky: rgb(230, 253, 255);
    // Gray
    --color-gray: rgb(51, 51, 51);
    --color-gray-dark: #333333; // Gelap
    --color-gray-medium: #888888; // Sedang
    --color-gray-light: #dddddd; // Terang

    /* Index */
    --index-sidebar: 100000000;
    --index-input-car: 110000000;
    --index-loading-spinner: 120000000;

    /* Transition */
    --transition-sidebar: all 0.3s ease;

    // New Variable
    --color-blue: #9CEFFE;
    --color-blue-50: rgba(156, 239, 254, 0.5);
    --color-blue-30: rgb(156, 239, 254, 0.3);
    --color-pink: #DF9CFE;
    --color-pink-50: rgb(223, 156, 254, 0.5);
    --color-pink-30: rgb(223, 156, 254, 0.3);

    --color-gray: #D3D3D3;
}

.ada {
    background-image: url("../assets/Background_Image_Hero/Background_List_Light.svg");
}

:global(:root) {
    --bg-color: #ffffff;
    --bg-nav: rgb(255, 255, 255, 0.8);

    --text-color: #000000;
}

:global(body.dark-mode) {
    background-color: var(--bg-color);
    color: #ffffff;

    /* ubah variable saat dark mode aktif */
    --bg-color: #121212;
    --bg-nav: rgb(18, 18, 18, 0.7);

    --text-color: #ffffff;
}