@use "../../styles/global.scss" as *;

.home-container {
    @include container;

    .hero {
        position: relative;
        background-image: url("/image_car/Background_Hero.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        padding: 0 .5rem;

        &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0rem;
            background-image: url("/image_car/Image_Car.svg");
            background-size: cover;
            background-repeat: no-repeat;
            width: 60%;
            height: 80%;
        }

        // &::before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background-color: rgba(0, 0, 0, 0.4);
        //     width: 100%;
        //     height: 100%;
        // }

        // &::after {
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        //     width: 100%;
        //     height: 5rem;
        //     background: linear-gradient(to top,
        //             white 0%,
        //             rgba(255, 255, 255, 0.9) 10%,
        //             rgba(255, 255, 255, 0.8) 20%,
        //             rgba(255, 255, 255, 0.7) 30%,
        //             rgba(255, 255, 255, 0.6) 40%,
        //             rgba(255, 255, 255, 0.4) 50%,
        //             transparent 100%);
        // }


        .content-wrapper {
            @include spasing-x;
            display: grid;
            gap: 25px;

            h1 {
                @include font-h1;
            }

            .button-wrapper {
                display: flex;
                gap: 25px;

                .btn-cara-booking {
                    @include button;
                    background-color: transparent;
                    border: 2px solid var(--color-pink);
                    color: var(--color-pink);
                }

                .btn-daftar-mobil {
                    @include button;
                    background-color: var(--color-pink);
                    color: white;
                }
            }
        }
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1rem;
        margin-top: 3rem;
        margin-bottom: 2rem;

        @include breakpoint-max(1300px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include breakpoint-max(1100px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint-max(700px) {
            margin-top: 2rem;
            grid-template-columns: repeat(2, 1fr);
        }

        .car-name {
            font-size: .8rem;
            font-family: 'Libre Baskerville', serif;
        }

        .button-booking {
            font-size: .7rem;
            background-color: var(--color-gray);
            color: white;
            padding: .5rem .7rem;
            border-radius: .3rem;
            cursor: pointer;
            font-weight: bold;

            &:hover {
                background-color: var(--color-primary);
            }
        }
    }
}