.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    span {
        font-size: .8rem;
        color: white;
        background-color: var(--color-bg-tooltips);
        padding: .3rem .6rem .4rem .6rem;
        border-radius: .3rem;
    }
}